@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
@import url("../css/media.css");
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  outline: none; 
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #1A1A1A; }

header {
  padding: 22px 0px; 
  min-height: 100px; 
}

a:hover, a:active {
  text-decoration: none; }

main {
  color: #1A1A1A; }
 
.navbar-brand, .advantages__tittle {
  font-family: 'Raleway Bold', arial; }

.navbar-toggler {
  border: none; }

.nav-link {
  color: #fff !important;
  padding: 15px 0px;
  border: 1px solid transparent;
  font-size: 20px; }
  .nav-link:hover {
    border-bottom: 1px solid #000; }

.header__phone {
  color: #000; }
  .header__phone:hover, .header__phone:active {
    color: #8BC24C; }

h1, h2, .newsitem__tittle, .footer__head {
  font-family: 'Raleway'; }

h1 {
  font-size: 45px;
  padding-top: 57px; }

.section__text {
  font-size: 4.688vw;
  padding-top: 30px; }

@-webkit-keyframes us {
  from {
    background: #8BC24C; }
  to {
    background: #669e26; } }

@keyframes us {
  from {
    background: #8BC24C; }
  to {
    background: #669e26; } }

.button {
  display: block;
  background: #8BC24C;
  color: #fff;
  text-align: center;
  padding: 15px 0px;
  margin-top: 50px;
  margin-bottom: 57px;
  border: none; }
  .button:hover, .button:active {
    color: #fff;
    text-decoration: none;
    -webkit-animation: us .7s,  ease-in paused;
    animation: us .7s,  ease-in paused; }
 

.comfort {
  background: url("../img/comfort_mobile.png") no-repeat center;
  background-size: cover;
  color: #fff; }

h2 {
  font-size: 30px;
  padding-top: 60px; }

.advatages__list {
  margin-top: 40px; }

.advantages__item {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  margin-top: 15px;
  padding: 0 5%; }

.advatages__image {
  margin-top: 20px;
  width: 55px;
  height: 55px; }

.advantages__tittle {
  position: relative;
  font-size: 18px;
  padding-left: 20px;
  top: 40px; }

.advantages__text {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 17px;
  line-height: 24px; }

.works__block {
  position: relative; }
  .works__block:hover, .works__block:active {
    -webkit-transition: all 4s ease-in 4s;
    -o-transition: all 4s ease-in 4s;
    transition: all 4s ease-in 4s; }
    .works__block:hover .works__info, .works__block:active .works__info {
      display: block; }

.works__info {
  position: absolute;
  top: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background: #8BC24C;
  opacity: .9;
  padding: 20px; }

.works__info__text {
  font-size: 16px;
  padding-bottom: 20px; }

.works__measurement, .works__price {
  position: relative;
  display: block;
  color: #fff;
  font-size: 16px;
  margin-left: 30px; }

.works__measurement::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/select.svg") no-repeat center;
  background-size: cover;
  position: absolute;
  left: -30px; }

.works__price {
  margin-top: 10px; }
  .works__price::after {
    content: "";
    width: 20px;
    height: 20px;
    background: url("../img/coin.svg") no-repeat center;
    background-size: cover;
    position: absolute;
    left: -30px; }

.reviews, .news {
  background: #fafafa; }

.reviews__items {
  margin-top: 40px; }

.reviews__item {
  position: relative;
  padding: 0px; }

.reviews__play {
  font-size: 0px;
  position: absolute;
  z-index: 1;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  top: 170px;
  bottom: 50%;
  width: 100px;
  height: 100px;
  background: url("../img/play.png") no-repeat center;
  padding: 0px; }

.newslist {
  margin-top: 30px; }

.newsitem__tittle {
  padding-top: 20px; }

.newsitem__link {
  display: inline-block;
  padding: 10px 0px;
  font-size: 16px; }

.newslist__time {
  font-size: 12px; }

.newsitem__block {
  background: #fff; }

.newsitem__tittle {
  display: inline-block; }

.newslist__commentcount, .newslist__viewcount {
  font-size: 12px; }

.newsitem__link, .news__info time, span {
  color: rgba(0, 0, 0, 0.6); }

.newsitem__link {
  text-decoration: underline; }
  .newsitem__link:hover {
    color: #8BC24C; }
  .newsitem__link:active {
    color: #669e26; }

.news__info span, .news__info time {
  position: relative; }

.newslist__time {
  margin-left: 25px; }
  .newslist__time::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/calendar.svg") no-repeat center;
    background-size: cover;
    left: -25px;
    top: -2px; }

.newslist__commentcount::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 18px;
  background: url("../img/coment.svg") no-repeat center;
  background-size: cover;
  left: -30px;
  top: 2px; }

.newslist__viewcount {
  margin-left: 25px; }
  .newslist__viewcount::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 16px;
    background: url("../img/view.svg") no-repeat center;
    background-size: contain;
    left: -25px;
    top: 3px; }

.opened {
  width: 100%;
  padding-top: 30px;  
  background: #8BC24C;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

footer {
  color: #fff;
  background: #4B4B4B; }

.footer__link {
  color: #fff; }
  .footer__link:hover, .footer__link:active {
    color: #dcdfe3; }

input {
  border: none; }

.socialitem__link {
  font-size: 0px; }

.footer__socialicons {
  padding-left: 0px; }

.footer__head {
  font-size: 22px; }

.footer__link {
  font-size: 14px; }

figcaption {
  font-size: 12px;
  padding: 20px 0px; }

input {
  font-size: 16px;
  padding: 13px 15px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }

.footer__bottom {
  background: #3E3E3E;
  padding: 35px 0px; }
  .footer__bottom * {
    color: rgba(255, 255, 255, 0.8); }
    .footer__bottom *:hover, .footer__bottom *:active {
      color: rgba(255, 255, 255, 0.8); }
  .footer__bottom a {
    text-decoration: underline;
    padding-bottom: 3px; }
