 

 
@import "vars";

@media (max-width: 380px) {
 .quiz-block__button {
  font-size: 10px !important;
 }
 .quiz-block__head {
  font-size: 25px;
  line-height: 25px;
 }
 .quiz-resultform::after {
   right: -4% !important;
 }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {}

@media (min-width: 572px) {}
// Medium devices (tablets, 768px and up)



@media (min-width: 768px) and (max-width: 992px) {
  .navbar-brand {
    img { 
      width: 120px;
      height: 64px;
    }
  }
  .button {
    font-size: 18px; 
    line-height: 18px;
    padding: 30px 50px; 
    border-radius: 8px; 
  }

  h1 {
    margin-top: 88px; 
    font-size: 42px; 
  }
  .header{ 
    &-title {
      font-size: 21px;
      line-height: 30px;
    }
    &-image {
      display: block;
      width: 35%;
      height: 281px;
      object-fit: contain;  
      position: absolute; 
      right: 0px; 
      top: 350px;
      z-index: -1;
    } 
  }
  .question {
    padding: 84px 0px; 
    &__head{
      font-size: 48px; 
      line-height: 60px; 
    }
    &__title {
      font-size: 22px; 
    } 
    &__item {
      margin-top: 40px;
    } 
    &__number {
      line-height: 30px;
    }
    &__button {
      margin-top: 100px; 
      position: relative;
      top: 25px;
    }
  }
}

 
// Large devices (desktops, 992px and up)
@media (min-width: 993px) { 
   .button {
    font-size: 18px; 
    line-height: 18px;
    padding: 30px 50px; 
    border-radius: 8px; 
  }
  h1 {
    margin-top: 100px; 
    font-size: 3.500vw; 
  }
  .header{
    padding-top: 44px ;
    &-title {
      font-size: 21px;
      line-height: 30px;
    }
    &-image {
      display: block;
      width: 100%;
      object-fit: cover;
      margin-top: 124px;
      position: relative;
      bottom: -20px;
    }
    &-email, &-address, &__number-worktime {
     font-size: 12px; 
     position: relative;
    }
    &-email {
      &::before {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        background: url('../img/email.svg') no-repeat center;
        background-size: cover;
        position: absolute;
        left: -30px; 
        top: 1px; 
      }
    }
    &-address {
      &::before {
        content: "";
        display: block;
        width: 17px;
        height: 23px;
        background: url('../img/location.svg') no-repeat center;
        background-size: cover;
        position: absolute;
        left: -30px; 
        top: 5px; 
      }
    }
    &-number {
      &__link {
        font-size: 18px;
      }
    }
    &-image {
      max-width: 500px ; 
      position: absolute; 
      right: 0%;;
      top: 150px;
      z-index: -1;
    }
  }
  .navbar-brand {
    img { 
      width: 104px;
      height: 60px;
    }
  }
  .question {
    padding: 84px 0px; 
    &__head{
      font-size: 2.700vw; 
      line-height: 45px;
      margin-top: 10px;
      margin-bottom: 14px;
    }
    &__title {
      font-size: 21px;
    }
    &__list {
      margin-top: 10px;
    }
    &__item {
      margin-top: 57px;
    } 
    &__number {
      line-height: 30px;
    }
    &__button {
      margin-top: 100px; 
      position: relative;
      top: 25px;
    }
  }
  .services {
    &__head{ 
      font-size: 36px;
      margin-top: 106px; 
    }
    &__list {
      margin: 60px 0px;
    }
    &-item { 
      &__head {
        font-size: 21px;
        padding-top: 20px;
      }
      &__title { 
        font-size: 16px;
        padding-top: 10px;
      }
    }
  }
   .gallery { 
     &__head  {
       font-size: 36px;
     }
     &__title {
       font-size: 20px;
     }
   }
  .popup-gallery { 
    overflow-x: hidden;
    margin-top: 40px;
    margin-bottom: 100px; ;
    .col-md-4 {
      max-height: 444px; 
      padding: 0 5px; 
      margin-top: 10px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .reviews {
    &__slider {
      margin-top: 80px;
    }
    &__head{ 
      font-size: 30px; 
    }
  } 
  .your-class {
    .slick-slide { 
      width: 920px; 
      border: 2px solid #E2EAF2; 
      box-shadow: 2px 8px 16px 0px #C2C6D0 6%; 
      padding: 90px 80px ;
      border-radius: 5px;
      margin: 0 10px;
  }
 }
 .slider {
   &__head {
     font-size: 30px;
     line-height: 42px; 
     margin: 24px 0px;;  
   }
   &__cite {
     font-size: 15px;
     line-height: 24px;
   }
   &__citelink {
     font-size: 14px;
     padding-top: 24px; 
   }
   &__username {
     font-size: 24px;
     padding-top: 30px; 
    }
 }
 .your-class-arrow { 
   margin: 70px 0px; 
   margin-left: 50%;
 }
 .btn-juliet {
   width: 66px;
   height: 66px;
 } 
 .btn-juliet-right{
   margin-left: 23px;
 }
 .information {
   padding-top: 30px;
   padding-bottom: 45px;
   &__formblock { 
     border-width: 8px ;
     border-style: solid;
     border-radius: 5px;
     padding: 0px 10%;
   }
   &__map {
     margin-top: 50px;
   }
 }
 .form { 
   &-legend {
     font-size: 30px; 
     padding-top: 70px; 
     padding-bottom: 11px;
   }
  &-title {
    font-size: 16px; 
  }
  &-checkbox{ 
    margin-top: 17px;
  }
  &-label {
    font-size: 11px;
    padding-top: 17px;
    padding-bottom: 70px;
    margin-left: 8px;
  }
  &-submit {
    margin-top: 20px;
  }
 }
 input[type="text"] {
  font-size: 15px; 
  border-radius: 8px;
  padding:  32px 58px;
  margin-top: 20px;
}
 .form-checkbox+label::before {
   width: 14px;
   height: 14px;
 }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 960px) and (max-width: 1200px) {}

 
 
@media (min-width: 1200px) {
  .header {
    &-image {
      max-width: 600px ; 
      position: absolute; 
      right: 2%;;
      top: 15vh;
      z-index: -1;
    }
  }
} 


@media (min-width: 962px) and (max-width: 992px) {

} 