$redcolor: #ff0000;
$bluecolor: #0e0b12; 
$MuSeo300: 'MuseoSansCyrl-300';
$MuSeo900: "Museo Sans Cyrl 900";

body {
 min-width: 1230px;  
 color: #fff;
 overflow: auto;
}

.container {  
 min-width: 1169px;
 max-width: 1169px;
 margin: 0 auto; 
}

.button {
 display: block;
 width: 198px;
 background: $redcolor; 
 color: #ffffff;
 font-family: $MuSeo900;
 font-size: 14px;
 font-weight: 400; 
 padding: 14px 0px;
 border-radius: 18px;
 text-align: center;
}


header { 
 min-height:  800px; 
 background: $bluecolor ;
}

 

.headerlist, .menu__menulist, .header__contactitems {
 display: flex;
 flex-direction: row;
 justify-content: space-between; 
}

.headerlist {
 padding: 22px  0px;
}

.logo {
 display: block;
 width: 148px; 
 height: 38px; 
 background: url('../img/logo.png') no-repeat center;
}
 
.menuitem__link {
 display: block;
 font-family: $MuSeo900;
 font-size: 16px;
 font-weight: 400;
 color: #fff;
 margin-right: 25px; 
 padding-top: 8px;
 &:hover {
  color: $redcolor; 
 }
}

.header__contactitem {
 margin-right: 52px; 
 &:last-child {
  margin-right: 0px;; 
 }
}

.header__man {
 img {
  display: block;
  margin-top: 60px;; 
 } 
}

.header__email, .header__nubmer, .slidetobottom{ 
 display: block;
 font-family: $MuSeo300;
 font-size: 12px;
 font-weight: 400; 
 color: #fff;
 padding-top: 14px;
 position: relative;
}


.header__email { 
 &::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url('../img/email.png') no-repeat center;
  position: absolute;
  left: -25px;;
  top: 10px;
 } 
}

.header__nubmer {
 &::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url('../img/call.png') no-repeat center;
  position: absolute;
  left: -25px;
  top: 10px; 
 }
}

.header__advantages{ 
 display: flex;
 flex-direction: row;
 justify-content: space-between; 
}
 
.header__slider {
 width: 690px;
 margin-left: 70px; 
 position: relative;
}
.slider__head, .slider__subhead {
 font-family: 'Museo Sans Cyrl 900';  
}
.slider__head {  
 display: inline-block;
 text-transform: uppercase; 
 font-size: 63px;
 font-weight: bold;
 font-style: italic;
 margin-top: 125px;
}

.slider__subhead { 
 display: inline-block;
 text-transform: uppercase; 
 font-size: 22px;
}

.slider__tittle {
 display: block;
 font-size: 20px;
 text-align: center; 
 width: 278px;
 margin: 0 auto;
 padding-top: 25px;
 background: $bluecolor; 
 &::before {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 1px;
  bottom: 8px;
  z-index: -1;
 }
}

.slidetobottom { 
 display: inline-block;
 transform: rotate(-90deg);
 color: #fff;
 padding: 0px;
 position: absolute;
 bottom:108px;
 font-size: 15px; 
}


.slick-dots {
 position: relative !important;
 margin-left: auto!important; 
 bottom: -150px !important;
}

#slick-slide-control01::before,#slick-slide-control02::before,#slick-slide-control03::before {
 font-size: 50px;
 color: #fff;
}


section {
 text-align: center; 
}

.section__head {  
 color: #0e0b12;
 font-family: $MuSeo900;
 font-size: 48px;   
 padding-top: 43px;
 padding-bottom: 43px;
}

.section__tittle {
 color: #0e0b12;  
 font-family: $MuSeo300;
 font-size: 18px;
 font-weight: 400;   
}


.advantageslist {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-top: 46px;
}

.advantageslist__advantagesitem {  
 flex-basis: 370px;
 min-height: 400px; 
 padding: 0 30px;
 &:nth-child(1) {
  background: url('../img/adv1.png') no-repeat center; 
 }
 &:nth-child(2) {
  background: url('../img/adv2.png') no-repeat center; 
 }
 &:nth-child(3) {
  background: url('../img/adv3.png') no-repeat center;  
 }
}

 

.advantageslist__head {
 font-family: $MuSeo900;
 display: inline-block; 
 font-size: 72px;
 font-weight: 400px;
 margin-top: 84px;
}

.advantageslist__tittle { 
 font-family: $MuSeo300;
 display: inline-block;
 font-size: 18px;
 font-weight: 400;   
 margin-top: 49px;
}

.advantageslist__hr {
 height: 2px;
 background: #fff;
 margin-top: 46px; 
}

.advantageslist__hr--fri {
 margin-top: 26px !important; 
}

.advantageslist__button {
 font-family: $MuSeo900;
 display: inline-block;
 width: 166px; 
 border-radius: 20px;
 border: 1px solid #f7f7f7;
 background: none;
 color: #fff;
 text-align: center;
 margin: 0 auto;
 margin-top: 49px;   
 margin-bottom: 68px;;
 font-size: 14px;
 font-weight: 400; 
 &:hover {
  background: $redcolor; 
  border-color: $redcolor;
 } 
}

.main__works { 
 background: #0e0b12;
 padding-bottom: 51px;
}
.works__head, .works__tittle {
 color: #fff; 
}

.works__workslist  {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-row-gap: 49px;
 margin-top: 50px;
}

.works__item {
 width:  353px;
 height: 400px;
 background: blue;
 margin-right: 47px;; 
 &:nth-child(1) {
  background: url('../img/worksone.png') no-repeat center;
  background-size: 100% 100%; 
 }
 &:nth-child(2) {
  background: url('../img/workstwo.png') no-repeat center; 
  background-size: 100% 100%;
 }
 &:nth-child(3) {
  background: url('../img/worksthree.png') no-repeat center;
  background-size: 100% 100%; 
 }
 &:nth-child(4) {
  background: url('../img/worksfour.png') no-repeat center;
  background-size: 100% 100%; 
 }
 &:nth-child(5) {
  background: url('../img/worksfive.png') no-repeat center;
  background-size: 100% 100%; 
 }
 &:nth-child(6) {
  background: url('../img/workssix.png') no-repeat center;
  background-size: 100% 100%; 
 }
}





.works__button {
 min-width: 300px; 
 display: block;
 margin: 0 auto;
 margin-top: 51px; 
 position: relative;
 &::after {
  content: "\003E";
  box-sizing: border-box;
  display: flex;
  width: 45px;
  height: 45px;
  background: #fff;
  color: #0e0b12;
  position: absolute; 
  right: 9px;
  top: 0px;
  border-radius: 100%;
  font-size: 29px;
  align-items: center;
  padding-left: 15px;
 }
}


.process_processlist {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-bottom: 50px;
}

.process_item {
 flex-basis: 316px;
 color: $bluecolor;
}

.process__circle {
 display: flex;
 width: 116px;
 height: 120px;
 background: $bluecolor;
 border-radius: 100%;
 font-family: $MuSeo900; 
 font-size: 48px;  
 color: #fff;
 align-items: center;
 padding-left: 45px;
}

.process__head {
 text-align: left; 
 font-family: $MuSeo900;
 font-size: 24px;
 font-weight: 400;
 padding-top: 44px;
}

.process__text {
 text-align: left;
 padding-top: 48px; 
 font-family: $MuSeo300;
 font-size: 18px;
 font-weight: 400; 
}